.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
.header {
  margin-bottom: 34px;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  font-family: "Hachi Maru Pop", cursive;
}

/* ================== CTA ================== */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: flex-start;
}

/* ================== Header Socials ================== */

.header__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
  margin-top: 34px;
}

.header__socials::after {
  contain: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ================== Scroll Down ================== */
.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 13rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ================== Media Queries (Medium Devices) ================== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  .header {
    height: 68vh;
  }
}

/* ================== Media Queries (Small Devices) ================== */
@media screen and (max-width: 600px) {
  .header {
    height: 100%;
  }
  .container {
    width: var(--container-width-sm);
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
