:root {
  --color-bg: #070d17;
  --color-bg-variant: linear-gradient(
    126.21deg,
    #6a35ee 12%,
    #9930ef 2.24%,
    #5737ee 39.56%,
    #795ceb 93.2%
  );
  --color-primary: linear-gradient(
    126.21deg,
    #6a35ee 0%,
    #9930ef 14.24%,
    #5737ee 49.56%,
    #795ceb 93.2%
  );
  --color-primary-variant: #495057;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 600ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --yellow: #f5c32c;
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}
